/**
 *------
 * BGA framework: Gregory Isabelli & Emmanuel Colin & BoardGameArena
 * Stigmeria implementation : © joesimpson <1324811+joesimpson@users.noreply.github.com>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * stigmeria.scss
 *
 * Stigmeria stylesheet
 *
 */

@import "modules/css/variables";
@import "modules/css/token";
@import "modules/css/player-panel";
@import "modules/css/player-board";
@import "modules/css/actions";
@import "modules/css/dice";
@import "modules/css/settings";
@import "modules/css/nouislider";
/**
    PREFIX FOR THIS GAME PROJECT : "stig"
*/
#stig_main_zone{
    
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

// For animations : 
.phantom {
    visibility: hidden;
}
/* Hide the "You may note something for next time..." popup that would appear any refresh when not active ? */
#turnBasedNotesIncent {
    display: none;
 }
 
.stig_hidden{
    visibility: hidden;
}
.stig_no_display{
    display: none;
}

//Buttons :
#btnLetNextPlay{
    background-color: lightgreen;
}
#btnEndTurn{
    background-color: green;
}
.stig_selected_button{
    background-color: rgb(255, 115, 0);
    &:hover{
        // overrides BGA default
        background-color: rgb(255, 115, 0) !important;
    }
}
// In this game, only one multipleChoice_dialog is used with Cancel then players name
#multipleChoice_dialog{
    ul{
        display: flex;
        flex-direction: row-reverse;
        li{
            margin: 0px 10px;

            #choice_btn_0 {
                background: #ffffff;
                border-color: #000000;
                color: #000000;
            }
        }
    }
}
.customimagebutton{
    border: medium none;
    display: flex;
    flex-flow: row;
    width: fit-content;
    &#btnStartLD1,
    &#btnStartLD2,
    &#btnStartLD3{//last drift
        background-color: green;
    }
    
    div{
        display: flex;
        align-content: center;
        align-items: center;
        .stig_qty{
            font-size: large;
            margin: 0px 5px;
        }
        .stig_token {
            margin-right:5px;
            width: 45px;
            height: 45px;
        }
        &.stig_icon_flower_violet {
            width: 40px;
            height: 34px;
            background-image: url("img/token.Png");
            background-size: 6000%;
            background-position-x: 480px;
            background-position-y: 69px;
            margin-right: 3px;
            &.stig_icon_flipped{
                transform: scaleX(-1);
                margin-left: 3px;
            }
        }
        &.stig_ld_action_image{
            //last drift
            width: 40px;
            height: 34px;
            background-image: url("img/token.Png");
            background-size: 6000%;
            background-position-x: 434px;
            background-position-y: 69px;
            margin-left: 3px;

            &[data-type='1']{//ACTION_TYPE_LASTDRIFT_PERSONAL
                background-position-y: 102px;
            }
            &[data-type='2']{//ACTION_TYPE_LASTDRIFT_CENTRAL
                background-position-y: 69px;
            }
            &[data-type='3']{//ACTION_TYPE_LASTDRIFT_OPPONENT
                background-position-y: 35px;
            }
        }
    }
}

.stig_button_player_name{
    text-shadow: 2px 0px 2px black, 0px 2px 2px black, -2px 0px 2px black, 0px -2px 2px black;
    &[style*='color:#0000ff'],
    &[style*='color:#000000'],
    &[style*='color:#008000'],
    &[style*='color:#773300'],
    &[style*='color:#982fff']
    {
        text-shadow: 2px 0px 2px white, 0px 2px 2px white, -2px 0px 2px white, 0px -2px 2px white;
    }
}

//LOGS
.stig_icon_container_wind_dir_log,
.stig_subicon_wind_dir_log,
.stig_icon_container_token_log,
.stig_subicon_token_log{
    height: var(--stig_tokenLogWidth);
    width: var(--stig_tokenLogWidth);
    display: inline-block;
    line-height: var(--stig_tokenLogWidth);
    max-height: var(--stig_tokenLogWidth);
    text-align: center;
    vertical-align: middle;
    border: none;
    box-shadow: none;
}

/* Cancelled notification messages */
.log.cancel {
    color: #c62828 !important;
    text-decoration: line-through;
}
/* Desktop logs */
.log.cancel .roundedbox {
    background-color: rgba(240, 186, 117, 0.6) !important;
}
/* Mobile logs */
.log.cancel.roundedbox {
    background-color: #ef9a9a;
}


body.lockedInterface{

    #customActions,
    #restartAction{
        pointer-events: none;
    }
}