    .stig_p_action_image{
        width: 39px;
        height: 25px;
        background-image: url("img/actions/actions_en.jpg");
        background-size: 800%;
        margin-left: 5px;
        border-radius: 8px;

        &[data-type="draw"]{
            @include stig_icon_extract_from_img( 960px, 1360px, 40px, 25px, 120px, 76px, 2367px, 2385px);
        }
        &[data-type="land"]{
            @include stig_icon_extract_from_img( 180px, 1664px, 40px, 25px, 144px, 80px, 2367px, 2385px);
        }
        &[data-type="move"]{
            @include stig_icon_extract_from_img( 1700px, 1132px, 40px, 25px, 115px, 59px, 2367px, 2385px);
        }

    }
    .stig_sp_action_image{
        width: 98px;
        height: 58px;
        background-image: url("img/actions/actions_en.jpg");
        background-size: 800%;
        margin-left: 5px;
        border-radius: 12px;

        &[data-type="10"]{
            //ACTION_TYPE_MIXING
            background-position-x: 731px;
            background-position-y: 349px;
        }
        &[data-type="11"]{
            //ACTION_TYPE_COMBINATION
            background-position-x: 731px;
            background-position-y: 616px;
        }
        &[data-type="12"]{
            //ACTION_TYPE_FULGURANCE
            background-position-x: 495px;
            background-position-y: 349px;
        }
        &[data-type="13"]{
            //ACTION_TYPE_CHOREOGRAPHY
            background-position-x: 1034px;
            background-position-y: 714px;
        }
        &[data-type="14"]{
            //ACTION_TYPE_DIAGONAL
            width: 60px;
            background-size: 1502%;
            background-position-x: -84px;
            background-position-y: 496px;
        }
        &[data-type="15"]{
            //ACTION_TYPE_SWAP
            background-position-x: 548px;
            background-position-y: 517px;
            height: 72px;
            width: 62px;
            background-size: 1490%;
        }
        &[data-type="16"]{
            //ACTION_TYPE_MOVE_FAST
            background-position-x: 286px;
            background-position-y: 517px;
            height: 67px;
            width: 96px;
            background-size: 949%;
        }
        
        &[data-type="20"]{
            //ACTION_TYPE_WHITE
            background-position-x: 1283px;
            background-position-y: 714px;
        }
        &[data-type="21"]{
            //ACTION_TYPE_BLACK
            background-position-x: 731px;
            background-position-y: 180px;
        }
        &[data-type="22"]{
            //ACTION_TYPE_TWOBEATS
            background-position-x: 731px;
            background-position-y: 531px;
        }
        &[data-type="23"]{
            //ACTION_TYPE_REST
            background-position-x: 1040px;
            background-position-y: 268px;
        }
        &[data-type="24"]{
            //ACTION_TYPE_NSNK
            background-position-x: 733px;
            background-position-y: 251px;
        }
        &[data-type="25"]{
            //ACTION_TYPE_COPY
            background-position-x: 548px;
            background-position-y: 627px;
            height: 67px;
            width: 62px;
            background-size: 1490%;
        }
        &[data-type="26"]{
            //ACTION_TYPE_PREDICTION
            background-position-x: 918px;
            background-position-y: 312px;
            background-size: 700%;
        }
        &[data-type="27"]{
            //ACTION_TYPE_MIMICRY
            background-position-x: 909px;
            background-position-y: 470px;
            background-size: 700%;
        }
        &[data-type="28"]{
            //ACTION_TYPE_FOGDIE
            background-position-x: 1034px;
            background-position-y: 628px;
        }
        &[data-type="29"]{
            //ACTION_TYPE_PILFERER
            background-position-x: 732px;
            background-position-y: 716px;
        }
        &[data-type="30"]{
            //ACTION_TYPE_SOWER
            background-position-x: 734px;
            background-position-y: 89px;
        }
        &[data-type="31"]{
            //ACTION_TYPE_CHARMER
            background-position-x: 1276px;
            background-position-y: 622px;
        }
        &[data-type="32"]{
            //ACTION_TYPE_JEALOUSY
            background-position-x: 490px;
            background-position-y: 263px;
            height: 75px;
            width: 100px;
            background-size: 770%;
        }
    }
    
body{
    /*
    &[data-stig_sp_buttons="1"]{
        //PREF_SP_BUTTONS_IMAGES_AND_TEXT
    }
    */
    &[data-stig_sp_buttons="2"]{
        //PREF_SP_BUTTONS_TEXT_ONLY
        .stig_sp_action_text{
            display: none;
        }
    }
    &[data-stig_sp_buttons="3"]{
        //PREF_SP_BUTTONS_IMAGES_ONLY
        .stig_sp_action_image{
            display: none;
        }
    }
}

//html[lang='fr']{
//    .stig_sp_action_board,
//    .stig_sp_action_image{
//        background-image: url("img/actions/actions_fr.jpg") !important;
//    }
//}
body {
    //PREF_ACTIONS_LANG_EN
    &[data-stig_sp_action_lang="1"]{
        .stig_sp_action_board,
        .stig_sp_action_image{
            background-image: url("img/actions/actions_en.jpg") !important;
        }
    }
    //PREF_ACTIONS_LANG_FR
    &[data-stig_sp_action_lang="2"]{
        .stig_sp_action_board,
        .stig_sp_action_image{
            background-image: url("img/actions/actions_fr.jpg") !important;
        }
    }
}

.stig_sp_grid{
    .stig_sp_col{
        //Mask to mark a column as not playable : not visible by default
        z-index: 1;
        position: absolute;
        background-color: gray;
        width: 319px;
        height: 826px;
        opacity: 0.7;

        &[data-col="1"]{
            height: 1074px;
            visibility: hidden;
        }
        &[data-col="2"]{
            left: 357px;
        }
        &[data-col="3"]{
            left: 715px;
        }
    }
}
.stig_icon_flower_violet {
    width: 40px;
    height: 34px;
    background-image: url("img/token.Png");
    background-size: 6000%;
    background-position-x: 480px;
    background-position-y: 69px;
    margin-right: 3px;
    &.stig_icon_flipped{
        transform: scaleX(-1);
        margin-left: 3px;
    }
}
#btnSpecialAction{
    .stig_icon_flower_violet {
        @include stig_icon_extract_from_img( 2644px, 3208px, 27px, 25px, 58px, 49px, 3305px, 3305px);
        margin-right: 0px;
        &.stig_icon_flipped{
            margin-left: 0px;
        }
    }
}

.stig_sp_action_tooltip{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    .stig_sp_action_title{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 2em;

        .stig_sp_action_name{
            font-weight: bold;
        }
    }
    .stig_sp_action_desc{
        position: relative;
        font-size: 1.5em;
        margin: 10px;
    }
    .stig_sp_action_image_resized{
        position: relative;
        //Bigger than button icon
        $scale : 2;
        //from .stig_sp_action_image
        $imageWidth: 98px;
        $imageHeight: 58px;
        width: calc($scale* $imageWidth);
        height: calc($scale* $imageHeight);

        .stig_sp_action_image_wrapper{
            transform: scale($scale);
            transform-origin: top left;
        }
        //------- MODIFY IMAGE WRAPPER SIZE according to image type
        &[data-type="14"]{//ACTION_TYPE_DIAGONAL
            $imageWidth: 60px;
            width: calc($scale* $imageWidth);
            height: calc($scale* $imageHeight);
        }
        &[data-type="15"]{//ACTION_TYPE_SWAP
            $imageHeight: 72px;
            $imageWidth: 62px;
            width: calc($scale* $imageWidth);
            height: calc($scale* $imageHeight);
        }
        &[data-type="16"]{//ACTION_TYPE_MOVE_FAST
            $imageHeight: 67px;
            $imageWidth: 96px;
            width: calc($scale* $imageWidth);
            height: calc($scale* $imageHeight);
        }
        &[data-type="25"]{//ACTION_TYPE_COPY
            $imageHeight: 67px;
            $imageWidth: 62px;
            width: calc($scale* $imageWidth);
            height: calc($scale* $imageHeight);
        }
        &[data-type="32"]{//ACTION_TYPE_JEALOUSY
            $imageHeight: 75px;
            $imageWidth: 100px;
            width: calc($scale* $imageWidth);
            height: calc($scale* $imageHeight);
        }
        //-------------------------------------
    }
}