
.stig_icon_container_die_log,
.stig_subicon_die_log
{
    width: 40px;
    height: 40px;
    background-image: url("img/die.Png");
    background-size: 300% 400%;

    display: inline-block;
    line-height: 40px;
    max-height: 40px;
    text-align: center;
    vertical-align: middle;

    &[data-type="null"] {
        background-image: none;
    }
    // Loop on sprite types :
    @for $i from 0 through 11 {
        &[data-type="#{$i + 1}"] {
            background-position-x: ($i % 3) * 100% / 2;
            background-position-y: (($i - ($i % 3)) / 3) * 100% / 3;
        }
    }
} 