
#stig_main_zone{

    .stig_resizable_board {
        width: calc(var(--stig_board_display_scale) * 1127px);
        height: calc(var(--stig_board_display_scale) * 1176px);
        margin-bottom: 10px;

        .stig_schema_board_container,
        .stig_central_board_container,
        .stig_player_board_container{
            /* prevents vertical invisible overflow on BGA bottom elements*/
            height: inherit;
        }
    }

    .stig_schema_board,
    .stig_central_board,
    .stig_player_board {
        transform: scale(var(--stig_board_display_scale));
        transform-origin: top left;
        border-radius: 10px;
        border: 2px solid black;
        box-shadow: 1px 1px 10px black;
        position: relative;

        display: flex;
        flex-wrap: wrap;
    }
}
#stig_player_boards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
    #stig_schema_board_container_wrapper{
        /** let the first player in first place, for when only 1 board is displayed (tiny screen)*/
        order: 2;
    }
    #stig_central_board_container_wrapper{
        order: 3;
    }
}


.stig_schema_board,
.stig_central_board,
.stig_player_board{
    background-size: 100% auto;
    background-repeat: no-repeat;
    width: 1127px;
    height: 1176px;

    &[data_flower_type='1']{
        background-image: url('img/flower1.jpg');
    }
    &[data_flower_type='2']{
        background-image: url('img/flower2.jpg');
    }
    &[data_flower_type='3']{
        background-image: url('img/flower3.jpg');
    }
    &[data_flower_type='4']{
        background-image: url('img/flower4.jpg');
    }
    &[data_flower_type='5'],
    &[data_flower_type='6'],
    &[data_flower_type='7']{
        background-image: url('img/flower5.jpg');
    }
    
    .stig_schema_number,
    .stig_schema_difficulty,
    .stig_schema_name,
    .player-name {
        position: absolute;
        text-align: center;
        background-color: rgb(206 247 158);
        border-radius: 25px;
        padding: 6px 20px;
        font-size: 26px;
        outline: 5px solid gold;
        box-shadow: 0 0 20px gold;
    }
    .player-name{
        background: linear-gradient(90deg,#85ba2d 15%,#436b2a 25%,#2a7970 50%,#559f37 75%,#64bd53 85%);
        text-shadow: 2px 0px 2px black, 0px 2px 2px black, -2px 0px 2px black, 0px -2px 2px black;
        &[style*='color:#0000ff'],
        &[style*='color:#000000'],
        &[style*='color:#008000'],
        &[style*='color:#773300'],
        &[style*='color:#982fff']
        {
            text-shadow: 2px 0px 2px white, 0px 2px 2px white, -2px 0px 2px white, 0px -2px 2px white;
        }
    }
    .stig_schema_number,
    .stig_schema_difficulty,
    .stig_schema_name{
        color: gold;
        background-color: rgb(0, 0, 0);
    }
    .stig_schema_name,
    .player-name {
        top: 3px;
        right: 20%;
    }
    .stig_schema_difficulty{
        left: 2%;
        display: flex;
        align-items: center;
        
        .stig_difficulty_star {
            width: 50px;
            height: 50px;
            background-image: url("img/tokens.png");
            background-size: 6000%;
            background-position-x: 599px;
            background-position-y: 257px;
        }
    }
    .stig_schema_number{
        right: 2%;
    }
    .stig_schema_difficulty,
    .stig_schema_number{
        bottom: 16px;
        font-size: 51px;
        border-top-left-radius: 100px;
        border-top-right-radius: 100px;
        border-bottom-right-radius: 100px;
        border-bottom-left-radius: 100px;
    }
    
    .stig_recruits{
        display: flex;
        flex-flow: column;
        .stig_recruits_type{
            //ORDER Tokens by type :
            @for $i from 1 through 25 {
                &[data-type="#{$i}"] {
                    order: $i;
                }
            }
            //Prepare group of tokens overlapped by color
            margin-bottom: 56px;
            .stig_token{
                margin-bottom: -40px;
            }
        }
    }

    .stig_wind_dir_container{
    
        .stig_wind_dir{
            &[data-turn='1']{
                // wind icon at the end of the turn 1...
                left: 691px;
                top: 96px;
            }
            &[data-turn='2']{
                left: 935px;
                top: 282px;
            }
            &[data-turn='3']{
                left: 1017px;
                top: 542px;
            }
            &[data-turn='4']{
                left: 920px;
                top: 829px;
            }
            &[data-turn='5']{
                left: 703px;
                top: 991px;
            }
            &[data-turn='6']{
                left: 409px;
                top: 996px;
            }
            &[data-turn='7']{
                left: 169px;
                top: 834px;
            }
            &[data-turn='8']{
                left: 69px;
                top: 548px;
            }
            &[data-turn='9']{
                left: 147px;
                top: 280px;
            }
            &[data-turn='10']{
                left: 412px;
                top: 90px;
            }
        }
    }
    .stig_grid {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: repeat(10, 1fr);

        .stig_token_cell{
            width: 56px;
            height: 56px;
            border-radius: 50%;

            &.selectable{
                cursor: pointer;
                background-color: rgba(0, 64, 255, 0.67);
                box-shadow: 0px 0px 10px 5px gold;
            }
            &.selectable:hover {
                box-shadow: 0px 0px 7px 2px green;
                transform: scale(1.2);
            }
            &.selected,
            &.selected:hover {
                box-shadow: 0px 0px 20px 10px #000;
                background-color: rgba(0, 255, 28, 0.67);
                transform: scale(1.2);
            }
        }

        .stig_token{
            &.selectable{
                cursor: pointer;
                box-shadow: 0px 0px 10px 10px rgb(0, 255, 76);
            }
                    
            &.selected{
                box-shadow: 0px 0px 10px 10px rgb(32, 0, 255);
            }
        }
        .stig_schema_token,
        .stig_token_cell{
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;

            //Grid and Coordinates copied from https://stigmeria.netlify.app/
            &[data-row='1'][data-col='1'] {
                top: 21.5%;
                left: 22.6%;
            }
            &[data-row='1'][data-col='2'] {
                top: 20.5%;
                left: 28.0%;
            }
            &[data-row='1'][data-col='3'] {
                top: 19.8%;
                    left: 33.6%;
            }
            &[data-row='1'][data-col='4'] {
                top: 19.1%;
                    left: 39.4%;
            }
            &[data-row='1'][data-col='5'] {
                top: 18.7%;
                left: 45%;
            }
            &[data-row='1'][data-col='6'] {
                top: 18.5%;
                left: 50.9%;
            }
            &[data-row='1'][data-col='7'] {
                top: 18.6%;
                    left: 56.5%;
            }
            &[data-row='1'][data-col='8'] {
                top: 19.1%;
                    left: 62.2%;
            }
            &[data-row='1'][data-col='9'] {
                top: 19.8%;
                    left: 67.8%;
            }
            &[data-row='1'][data-col='10'] {
                top: 20.8%;
                    left: 73.2%;
            }
            &[data-row='2'][data-col='1'] {
                top: 26.5%;
                    left: 21.0%;
            }

            &[data-row='2'][data-col='2'] {
                top: 26%;
                    left: 27.0%;
            }

            &[data-row='2'][data-col='3'] {
                top: 25.2%;
                    left: 32.9%;
            }

            &[data-row='2'][data-col='4'] {
                    top: 24.6%;
                    left: 38.8%;
            }

            &[data-row='2'][data-col='5'] {
                top: 24.2%;
                    left: 44.9%;
            }

            &[data-row='2'][data-col='6'] {
                top: 24.1%;
                    left: 51.1%;
            }

            &[data-row='2'][data-col='7'] {
                top: 24.2%;
                    left: 57%;
            }

            &[data-row='2'][data-col='8'] {
                top: 24.7%;
                    left: 62.9%;
            }

            &[data-row='2'][data-col='9'] {
                top: 25.5%;
                    left: 69.1%;
            }
            &[data-row='2'][data-col='10'] {
                    top: 26%;
                        left: 75%;
            }
            &[data-row='3'][data-col='1'] {
                top: 31.8%;
                left: 19.3%;
            }
            &[data-row='3'][data-col='2'] {
                top: 31.4%;
                    left: 25.7%;
            }
            &[data-row='3'][data-col='3'] {
                top: 30.7%;
                    left: 31.7%;
            }
            &[data-row='3'][data-col='4'] {
            top: 30.2%;
                left: 38.1%;
            }
            &[data-row='3'][data-col='5'] {
                top: 30.2%;
                    left: 44.5%;
            }
            &[data-row='3'][data-col='6'] {
                top: 29.9%;
                    left: 51%;
            }
            &[data-row='3'][data-col='7'] {
            top: 30.2%;
                left: 57.3%;
            }
            &[data-row='3'][data-col='8'] {
            top: 30.6%;
                left: 63.9%;
            }
            &[data-row='3'][data-col='9'] {
            top: 31.0%;
                left: 70.3%;
            }
            &[data-row='3'][data-col='10'] {
                top: 31.6%;
                    left: 76.5%;
            }
            &[data-row='4'][data-col='1'] {
            top: 37.5%;
                left: 18%;
            }

            &[data-row='4'][data-col='2'] {
            top: 37%;
                left: 24.6%;
            }

            &[data-row='4'][data-col='3'] {
                top: 36.9%;
                    left: 31.2%;
            }

            &[data-row='4'][data-col='4'] {
            top: 36.5%;
                left: 38%;
            }

            &[data-row='4'][data-col='5'] {
            top: 36.5%;
                left: 44.5%;
            }

            &[data-row='4'][data-col='6'] {
                top: 36.2%;
                    left: 51.5%;
            }

            &[data-row='4'][data-col='7'] {
                top: 36.4%;
                    left: 58.1%;
            }

            &[data-row='4'][data-col='8'] {
                top: 36.6%;
                    left: 64.6%;
            }

            &[data-row='4'][data-col='9'] {
                top: 36.7%;
                    left: 71.4%;
            }

            &[data-row='4'][data-col='10'] {
                top: 37%;
                    left: 77.6%;
            }

            &[data-row='5'][data-col='1'] {
                top: 43%;
                    left: 17.4%;
            }

            &[data-row='5'][data-col='2'] {
                top: 42.9%;
                    left: 24.2%;
            }

            &[data-row='5'][data-col='3'] {
                top: 42.7%;
                    left: 31.1%;
            }

            &[data-row='5'][data-col='4'] {
                top: 42.7%;
                    left: 37.6%;
            }

            &[data-row='5'][data-col='5'] {
            top: 42.7%;
                left: 44.4%;
            }

            &[data-row='5'][data-col='6'] {
                top: 42.6%;
                    left: 51.6%;
            }

            &[data-row='5'][data-col='7'] {
                top: 42.8%;
                    left: 58.2%;
            }

            &[data-row='5'][data-col='8'] {
                top: 42.9%;
                    left: 65.2%;
            }

            &[data-row='5'][data-col='9'] {
            top: 42.9%;
                left: 71.8%;
            }

            &[data-row='5'][data-col='10'] {
                top: 43%;
                    left: 78.5%;
            }

            &[data-row='6'][data-col='1'] {
                top: 49%;
                left: 17.3%;
            }

            &[data-row='6'][data-col='2'] {
                top: 48.9%;
                left: 24.1%;
            }

            &[data-row='6'][data-col='3'] {
                top: 48.7%;
                left: 31.1%;
            }

            &[data-row='6'][data-col='4'] {
                top: 48.9%;
                    left: 37.8%;
            }

            &[data-row='6'][data-col='5'] {
                top: 48.9%;
                    left: 44.7%;
            }

            &[data-row='6'][data-col='6'] {
            top: 49%;
                left: 51.6%;
            }

            &[data-row='6'][data-col='7'] {
            top: 48.9%;
                left: 58.3%;
            }

            &[data-row='6'][data-col='8'] {
            top: 48.9%;
                left: 65.1%;
            }

            &[data-row='6'][data-col='9'] {
                top: 48.9%;
                    left: 71.9%;
            }

            &[data-row='6'][data-col='10'] {
            top: 48.9%;
                left: 78.8%;
            }
            &[data-row='7'][data-col='1'] {
                top: 54.8%;
                    left: 17.7%;
            }

            &[data-row='7'][data-col='2'] {
                top: 54.6%;
                    left: 24.6%;
            }

            &[data-row='7'][data-col='3'] {
                top: 54.6%;
                    left: 31.4%;
            }

            &[data-row='7'][data-col='4'] {
                top: 54.9%;
                left: 37.8%;
            }

            &[data-row='7'][data-col='5'] {
                top: 55.2%;
                    left: 44.5%;
            }

            &[data-row='7'][data-col='6'] {
                top: 55.4%;
                    left: 51.4%;
            }

            &[data-row='7'][data-col='7'] {
            top: 55.4%;
                left: 58.1%;
            }

            &[data-row='7'][data-col='8'] {
                top: 55.1%;
                    left: 64.9%;
            }

            &[data-row='7'][data-col='9'] {
                top: 54.9%;
                left: 71.9%;
            }

            &[data-row='7'][data-col='10'] {
                top: 54.6%;
                    left: 78.4%;
            }
            &[data-row='8'][data-col='1'] {
                top: 60.2%;
                    left: 19.1%;
            }

            &[data-row='8'][data-col='2'] {
                top: 60.4%;
                    left: 25.6%;
            }

            &[data-row='8'][data-col='3'] {
                top: 60.8%;
                    left: 32.3%;
            }

            &[data-row='8'][data-col='4'] {
                top: 61.4%;
                    left: 38.5%;
            }

            &[data-row='8'][data-col='5'] {
                top: 61.6%;
                    left: 45.2%;
            }

            &[data-row='8'][data-col='6'] {
                top: 61.4%;
                left: 51.4%;
            }

            &[data-row='8'][data-col='7'] {
                top: 61.4%;
                left: 58.1%;
            }

            &[data-row='8'][data-col='8'] {
                top: 61.1%;
                    left: 64.5%;
            }

            &[data-row='8'][data-col='9'] {
                top: 60.5%;
                    left: 70.7%;
            }

            &[data-row='8'][data-col='10'] {
                top: 60.0%;
                    left: 77.3%;
            }
            &[data-row='9'][data-col='1'] {
                top: 65.7%;
                    left: 20.4%;
            }

            &[data-row='9'][data-col='2'] {
                top: 66%;
                    left: 26.6%;
            }

            &[data-row='9'][data-col='3'] {
                top: 66.9%;
                    left: 32.9%;
            }

            &[data-row='9'][data-col='4'] {
                top: 67.4%;
                    left: 38.9%;
            }

            &[data-row='9'][data-col='5'] {
                top: 67.6%;
                left: 45.2%;
            }

            &[data-row='9'][data-col='6'] {
                top: 67.8%;
                    left: 51.6%;
            }

            &[data-row='9'][data-col='7'] {
                top: 67.4%;
                    left: 57.8%;
            }

            &[data-row='9'][data-col='8'] {
                top: 67.1%;
                    left: 63.8%;
            }

            &[data-row='9'][data-col='9'] {
                top: 66.2%;
                    left: 69.4%;
            }

            &[data-row='9'][data-col='10'] {
                top: 65.5%;
                    left: 75.4%;
            }
            &[data-row='10'][data-col='1'] {
                top: 71.2%;
                    left: 22.8%;
            }

            &[data-row='10'][data-col='2'] {
                top: 72%;
                    left: 28.2%;
            }

            &[data-row='10'][data-col='3'] {
                top: 73%;
                    left: 33.8%;
            }

            &[data-row='10'][data-col='4'] {
                top: 73.7%;
                    left: 39.7%;
            }

            &[data-row='10'][data-col='5'] {
                top: 73.8%;
                    left: 45.5%;
            }

            &[data-row='10'][data-col='6'] {
                top: 73.8%;
                left: 51.6%;
            }

            &[data-row='10'][data-col='7'] {
                top: 73.6%;
                    left: 57.2%;
            }

            &[data-row='10'][data-col='8'] {
                top: 72.7%;
                    left: 63%;
            }

            &[data-row='10'][data-col='9'] {
                top: 72%;
                left: 68.4%;
            }

            &[data-row='10'][data-col='10'] {
                top: 71.1%;
                    left: 73.6%;
            }
        }
    }
}
.stig_newturn_markers{
    position: absolute;
    /** position always data-turn='1' */
    left: 551px;
    top: 45px;
    display: flex;
    .stig_newturn_marker{
        margin-right: -40px;
    }
}

.stig_icon.stig_actions,
.stig_turn_marker{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-image: url("img/tokens.png");
    background-size: 370px;
    background-position-x: 2293px;
    background-position-y: 2293px;
    outline: 3px solid black;
    box-shadow: 0px 0px 10px 5px gold;
}

.stig_turn_marker_container{
    position: absolute;

    &[data-turn='1']{
        left: 556px;
        top: 60px;
        &[data-count_actions='2']{
            /** last space == WIND**/
            left: 699px;
            top: 105px;
        }
    }
    &[data-turn='2']{
        &[data-count_actions='1']{
            left: 830px;
            top: 152px;
        }
        
        &[data-count_actions='2']{
            left: 868px;
            top: 182px;
        }
        &[data-count_actions='3']{
            /** last space == WIND**/
            left: 944px;
            top: 291px;
        }
    }
    &[data-turn='3']{
        &[data-count_actions='1']{
            left: 1001px;
            top: 369px;
        }
        &[data-count_actions='2']{
            left: 1016px;
            top: 413px;
        }
        &[data-count_actions='3']{
            left: 1026px;
            top: 455px;
        }
        &[data-count_actions='4']{
            /** last space == WIND**/
            left: 1026px;
            top: 550px;
        }
    }
    
    &[data-turn='4']{
        &[data-count_actions='1']{
            left: 1028px;
            top: 643px;
        }
        &[data-count_actions='2']{
            left: 1016px;
            top: 688px;
        }
        &[data-count_actions='3']{
            left: 1003px;
            top: 729px;
        }
        &[data-count_actions='4']{
            left: 984px;
            top: 768px;
        }
        &[data-count_actions='5']{
            /** last space == WIND**/
            left: 929px;
            top: 839px;
        }
    }
    
    &[data-turn='5']{
        &[data-count_actions='1']{
            left: 900px;
            top: 893px;
        }
        &[data-count_actions='2']{
            left: 867px;
            top: 923px;
        }
        &[data-count_actions='3']{
            left: 834px;
            top: 947px;
        }
        &[data-count_actions='4']{
            left: 800px;
            top: 970px;
        }
        &[data-count_actions='5']{
            left: 760px;
            top: 989px;
        }
        &[data-count_actions='6']{
            /** last space == WIND**/
            left: 712px;
            top: 1000px;
        }
    }
    
    &[data-turn='6']{
        &[data-count_actions='7']{
            /** last space == WIND**/
            left: 418px;
            top: 1006px;
        }
        &[data-count_actions='6']{
            left: 472px;
            top: 1023px;
        }
        &[data-count_actions='5']{
            left: 513px;
            top: 1028px;
        }
        &[data-count_actions='4']{
            left: 552px;
            top: 1030px;
        }
        &[data-count_actions='3']{
            left: 592px;
            top: 1027px;
        }
        &[data-count_actions='2']{
            left: 631px;
            top: 1022px;
        }
        &[data-count_actions='1']{
            left: 552px;
            top: 1069px;
        }
    }
    &[data-turn='7']{
        &[data-count_actions='8']{
            /** last space == WIND**/
            left: 177px;
            top: 842px;
        }
        &[data-count_actions='7']{
            left: 208px;
            top: 889px;
        }
        &[data-count_actions='6']{
            left: 238px;
            top: 914px;
        }
        &[data-count_actions='5']{
            left: 272px;
            top: 941px;
        }
        &[data-count_actions='4']{
            left: 306px;
            top: 965px;
        }
        &[data-count_actions='3']{
            left: 346px;
            top: 983px;
        }
        &[data-count_actions='2']{
            left: 272px;
            top: 979px;
        }
        &[data-count_actions='1']{
            left: 235px;
            top: 954px;
        }
    }
    &[data-turn='8']{
        &[data-count_actions='9']{
            /** last space == WIND**/
            left: 79px;
            top: 555px;
        }
        &[data-count_actions='8']{
            left: 81px;
            top: 612px;
        }
        &[data-count_actions='7']{
            left: 90px;
            top: 656px;
        }
        &[data-count_actions='6']{
            left: 100px;
            top: 698px;
        }
        &[data-count_actions='5']{
            left: 114px;
            top: 735px;
        }
        &[data-count_actions='4']{
            left: 133px;
            top: 771px;
        }
        &[data-count_actions='3']{
            left: 74px;
            top: 730px;
        }
        &[data-count_actions='2']{
            left: 61px;
            top: 688px;
        }
        &[data-count_actions='1']{
            left: 52px;
            top: 645px;
        }
    }
    &[data-turn='9']{
        &[data-count_actions='1']{
            left: 91px;
            top: 340px;
        }
        &[data-count_actions='2']{
            left: 72px;
            top: 378px;
        }
        &[data-count_actions='3']{
            left: 59px;
            top: 424px;
        }
        &[data-count_actions='4']{
            left: 52px;
            top: 470px;
        }
        &[data-count_actions='5']{
            left: 84px;
            top: 498px;
        }
        &[data-count_actions='6']{
            left: 90px;
            top: 454px;
        }
        &[data-count_actions='7']{
            left: 98px;
            top: 412px;
        }
        &[data-count_actions='8']{
            left: 111px;
            top: 373px;
        }
        &[data-count_actions='9']{
            left: 130px;
            top: 332px;
        }
        &[data-count_actions='10']{
            /** last space == WIND**/
            left: 155px;
            top: 290px;
        }
    }
    
    &[data-turn='10']{
        &[data-count_actions='1']{
            left: 236px;
            top: 125px;
        }
        &[data-count_actions='2']{
            left: 312px;
            top: 115px;
        }
        &[data-count_actions='3']{
            left: 273px;
            top: 137px;
        }
        &[data-count_actions='4']{
            left: 234px;
            top: 166px;
        }
        &[data-count_actions='5']{
            left: 199px;
            top: 197px;
        }
        &[data-count_actions='6']{
            left: 201px;
            top: 238px;
        }
        &[data-count_actions='7']{
            left: 236px;
            top: 204px;
        }
        &[data-count_actions='8']{
            left: 271px;
            top: 177px;
        }
        &[data-count_actions='9']{
            left: 308px;
            top: 151px;
        }
        &[data-count_actions='10']{
            left: 349px;
            top: 127px;
        }
        &[data-count_actions='11']{
            /** last space == WIND**/
            left: 421px;
            top: 89px;
        }
    }
}

.stig_wind_dir{
    width: 57px;
    height: 57px;
    position: absolute;
    background-image: url("img/tokens.png");
    background-size: 500% 500%;
    //type 20 in sprite
    background-position-x: 100%;
    background-position-y: 75%;
}