
.stig_player_board_container_wrapper{
    margin-top: 20px;
}

.stig_player_board_container{
    transform: scale(var(--stig_board_display_scale));
    transform-origin: top left;
}
.stig_player_board{
    background-size: 100%;
    background-repeat: no-repeat;
    width: 1127px;
    height: 1176px;

    &[data_flower_type='1']{
        background-image: url('img/flower1.jpg');
    }
    &[data_flower_type='2']{
        background-image: url('img/flower2.jpg');
    }
    &[data_flower_type='3']{
        background-image: url('img/flower3.jpg');
    }
    &[data_flower_type='4']{
        background-image: url('img/flower4.jpg');
    }
    &[data_flower_type='5']{
        background-image: url('img/flower5.jpg');
    }
}

.stig_turn_marker{
    background-color: black;
    width: 33px;
    height: 33px;
    border-radius: 100%;
    position: absolute;
}
.stig_turn_marker[data_value='1']{
    left: 556px;
    top: 60px;
}
.stig_turn_marker[data_value='2']{
    left: 830px;
    top: 152px;
}
/** TODO JSA ALL TURNS & actions done */
