.stig_first_player_holder{
    position: absolute;
    height: 35px;
    right: 43px;
    top: 0px;
    width: 30px;
}
//define this outside of its parent, to view it when sliding
#stig_first_player{
    position: relative;
    width: 30px;
    height: 30px;
    background-image: url("img/token.Png");
    background-size: 500% 500%;
    /** see type 22 */
    background-position-x: 25%;
    background-position-y: 100%;
}

.player_board_inner{
    >.player-name{
        /** Add a BLACK shadow behind player name in case of bright colors like white/orange*/
        >a[style*='color: #ffa500'],
        >a[style*='color: #ffffff'],
        >a[style*='color: #bdd002']
        {
            text-shadow: 1px 0px 1px black, 0px 1px 1px black,-1px 0px 1px black,0px -1px 1px black;        
        }
    }

}
.player-board.stig_eliminated{
    background-color: #868686bf;
}


.stig_panel{

.stig_player_infos {
    display: flex;
    flex-wrap: wrap;
    font-size: 15px;
    justify-content: space-around;
    position: relative;
    padding: 0.5rem 0;

    .stig_player_resource {
        margin: 4px 0px;
        position: relative;
        text-align: center;
        align-self: center;
        .stig_reserve {
            position: absolute;
            top: 0%;
            left: 0%;
            width: 100%;
            height: 100%;
            &:hover{//For tooltip highlight
                outline: 2px solid rgb(0, 0, 0);
                cursor: help;
            }
        }

        .stig_resource_unlockedActions,
        .stig_resource_lockedActions,
        .stig_resource_jokers,
        .stig_resource_tokens_recruit,
        .stig_resource_tokens_deck {
            font-size: 22px;
            font-weight: bold;
            &::after {
                content: " x";
            }
        }
        .stig_resource_pollens,
        .stig_resource_actions{
            font-size: 20px;
            font-weight: bold;
            &::after {
                content: " /";
            }
        }

        .stig_icon_container {
            display: inline-block;
            vertical-align: middle;
            margin: 0 0.5em;

            &.stig_icon_container_tokens_recruit{
                width: 56px;
                height: 50px;
                background-size: 172px;
                background-repeat: no-repeat;
                border: 1px solid black;
                //We could use flower1, but with a param, we can avoid loading a different image than the played flower :
                &[data-flower_type='1']{//OPTION_FLOWER_VERTIGHAINEUSE
                    background-image: url('img/flower1.jpg');
                }
                &[data-flower_type='2']{//OPTION_FLOWER_MARONNE
                    background-image: url('img/flower2.jpg');
                }
                &[data-flower_type='3']{//OPTION_FLOWER_SIFFLOCHAMP
                    background-image: url('img/flower3.jpg');
                }
                &[data-flower_type='4']{//OPTION_FLOWER_DENTDINE
                    background-image: url('img/flower4.jpg');
                }
                &[data-flower_type='5'],//OPTION_FLOWER_INSPIRACTRICE
                &[data-flower_type='6'],//OPTION_FLOWER_COMPETITIVE
                &[data-flower_type='7'],//OPTION_FLOWER_NO_LIMIT
                &[data-flower_type='8'] //OPTION_FLOWER_NO_LIMIT_UNOFFICIAL
                {
                    background-image: url('img/flower5.jpg');
                }
            }
            &.stig_icon_container_pollens{
                margin-left: 0.1em;
                // compensation of subicon margin-right
                padding-right: 1.8em;
            }
            
            .stig_icon{

                &.stig_tokens_recruit{
                    display: flex;
                    .stig_subicon_tokens_recruit{
                        width: 2em;
                        height: 2em;
                        margin-right: -1.8em;
                    }
                }
                &.stig_tokens_deck {
                    width: 2.5em;
                    height: 3em;
                    background-image: url("img/bagg.Png");
                    background-size: 100% auto;
                    background-repeat: no-repeat;
                }
                &.stig_jokers {
                    width: 40px;
                    height: 40px;
                    background-image: url("img/token.Png");
                    background-size: 6000%;
                    background-position-x: 480px;
                    background-position-y: 35px;
                }
                &.stig_lockedActions,
                &.stig_unlockedActions{
                    width: 2em;
                    height: 2em;
                    background-image: url("img/token.Png");
                    background-size: 500% 500%;
                }
                &.stig_unlockedActions{
                    /** see sprite type 23 */
                    background-position-x: 50%;
                    background-position-y: 100%;
                }
                &.stig_lockedActions{
                    /** see sprite type 24 */
                    background-position-x: 75%;
                    background-position-y: 100%;
                }
                &.stig_pollens{
                    display: flex;
                    // display several icons of pollens (overlapped)
                    .stig_subicon_pollens{
                        width: 2em;
                        height: 2em;
                        margin-right: -1.8em;
                        background-image: url("img/token.Png");
                        background-size: 500% 500%;

                        @for $i from 10 through 19 {
                            &[data-type="#{$i + 1 - 10}"] {
                                background-position-x: ($i % 5) * 100% / 4;
                                background-position-y: (($i - ($i % 5)) / 5) * 100% / 4;
                            }
                        }
                    }
                }
                &.stig_actions{
                    position: relative;
                    box-shadow: none;
                }
            }
        }
    }
    .stig_end_warning{
        flex-grow: 1;
        
        position: relative;
        text-align: center;
    }
}

}

body[data-stig_panel_icon_size="1"]{//PREF_PANEL_ICONS_SIZE_SMALL
    
    .stig_panel{
        .stig_player_infos {
            font-size: 14px !important;
            .stig_player_resource{
                margin:0 !important;

                .stig_resource_unlockedActions,
                .stig_resource_lockedActions,
                .stig_resource_jokers,
                .stig_resource_tokens_recruit,
                .stig_resource_tokens_deck {
                    font-size: 14px !important;
                }
                .stig_resource_pollens,
                .stig_resource_actions{
                    font-size: 14px !important;
                }
                .stig_resource_actions_total,
                .stig_resource_pollens_total {
                    font-size: 11px !important;
                }
                
                .stig_icon_container {
                    &.stig_icon_container_tokens_recruit{
                        width: 25px !important;
                        height: 25px !important;
                        background-size: 80px !important;
                    }
                    &.stig_icon_container_pollens{
                        padding-right: 0.9em !important;
                        
                    }
                    .stig_icon{
                        .stig_subicon_tokens_recruit{
                            width: 1em !important;
                            height: 1em !important;
                            margin-right: -0.9em !important;
                        }
                        &.stig_tokens_deck{
                            width: 1.5em !important;
                            height: 2em !important;
                        }
                        &.stig_jokers{
                            width: 20px !important;
                            height: 20px !important;
                            background-position-x: 240px !important;
                            background-position-y: 17px !important;
                        }
                        &.stig_lockedActions,
                        &.stig_unlockedActions{
                            width: 1.5em !important;
                            height: 1.5em !important;
                        }
                        .stig_subicon_pollens{
                            width: 1em !important;
                            height: 1em !important;
                            margin-right: -0.9em !important;
                        }
                        &.stig_actions{
                            width: 20px !important;
                            height: 20px !important;
                            background-size: 185px !important;
                            background-position-x: 1147px !important;
                            background-position-y: 1147px !important;
                        }
                    }

                }
            }
        }
    }
}