#stig_select_piece_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
    .stig_token {
        margin: 15px 10px;
        width: var(--stig_takePieceWidth);
        height: var(--stig_takePieceWidth);
        
    }
}

.stig_token_cell.selectable:hover,
.stig_token_cell.selected,
.stig_token,
.stig_subicon_tokens_recruit
{
    width: 56px;
    height: 56px;
    border: 1px solid black;
    box-shadow: 1px 1px 5px black;
    border-radius: 50%;
    position: relative;
    background-image: url("img/tokens.png");
    background-size: 500% 500%;
    // Loop on sprite types :
    @for $i from 0 through 24 {
        &[data-type="#{$i + 1}"] {
            background-position-x: ($i % 5) * 100% / 4;
            background-position-y: (($i - ($i % 5)) / 5) * 100% / 4;
        }
    }
    
    &.selectable {
        box-shadow: 0px 0px 7px 2px rgb(0, 26, 255);
        cursor: pointer;
        &:hover {
            transform: scale(1.2);
        }
    }

    &.selected,
    &.selected:hover {
        box-shadow: 0px 0px 7px 2px green;
        transform: scale(1.2);
    }
}

// For animations : 
#pagemaintitletext,
#gameaction_status {
    .stig_token {
        position: absolute;
    }
}