#stig_select_piece_container,
.stig_select_piece_player_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
    .stig_token {
        margin: 5px 0px;
        width: var(--stig_takePieceWidth);
        height: var(--stig_takePieceWidth);

        @for $i from 0 through 24 {
            &[data-type="#{$i + 1}"] {
                order: $i;
            }
            
        }
    }
}
.stig_select_piece_player_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row;

    .player-name{
        margin-right: 20px;
    }

}

.stig_token_cell.selectable:hover,
.stig_token_cell.selected,
.stig_token,
.stig_newturn_marker,
.stig_button_token,
.stig_sp_action_token,
.stig_subicon_token,
.stig_subicon_token_log,
.stig_subicon_tokens_recruit
{
    width: 56px;
    height: 56px;
    border: 1px solid black;
    box-shadow: 1px 1px 5px black;
    border-radius: 50%;
    position: relative;
    background-image: url("img/tokens.png");
    background-size: 500% 500%;
    
    &[data-type="null"] {
        background-image: none;
    }
    // Loop on sprite types :
    @for $i from 0 through 24 {
        &[data-type="#{$i + 1}"] {
            background-position-x: ($i % 5) * 100% / 4;
            background-position-y: (($i - ($i % 5)) / 5) * 100% / 4;
        }
    }
    
    &.selectable {
        box-shadow: 0px 0px 7px 2px rgb(0, 26, 255);
        cursor: pointer;
        &:hover {
            transform: scale(1.2);
        }
    }

    &.stig_selected,
    &.selected,
    &.selected:hover {
        box-shadow: 0px 0px 7px 2px green;
        transform: scale(1.2);
    }
}

// For animations : 
#pagemaintitletext,
#gameaction_status {
    .stig_token {
        position: absolute;
    }
}


.stig_icon_container_wind_dir_log,
.stig_subicon_wind_dir_log {
    position: relative;
    background-image: url("img/tokens.png");
    background-size: 500% 500%;
    //type 20 in sprite
    background-position-x: 100%;
    background-position-y: 75%;

    &[data-type='1']{
        //WIND_DIR_NORTH
        transform: rotate(180deg);
    }
    &[data-type='2']{
        //WIND_DIR_SOUTH
        transform: rotate(0deg);
    }
    &[data-type='3']{
        //WIND_DIR_EAST
        transform: rotate(-90deg);
    }
    &[data-type='4']{
        //WIND_DIR_WEST
        transform: rotate(90deg);
    }
}